<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
        <div class="container">
            <div class="d-flex align-items-center">
                <img src="~/Images/Red cross2.png" alt="Logo" class="rounded-circle" style="height:48px; width:48px; box-shadow:0 0 8px #ccc; margin-right:16px;" />
                <div>
                    <span style="font-size:2rem; color:#555; font-weight:600; font-family:sans-serif;">RescueBus</span><br />
                    <span style="font-size:1rem; color:#888; font-family:sans-serif;">you're better off not dead</span>
                </div>
            </div>
            <div class="ms-auto">
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Ride History", "History", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Manage", "Manage", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content " style="background-color:lightgrey" >
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
