
@{
    ViewBag.Title = "Booking";
}
<script type="text/javascript">
    var vehicles = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Vehicles ?? new List<Assignment1.Models.Vehicle>()));
    var drivers = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Drivers ?? new List<Assignment1.Models.Driver>()));
</script>
<div style="background-color:lightgrey">
    <div class="mx-auto" style="max-width: 600px;">
        <div class="text-center" style="font-size:2rem; color:#555; font-weight:600; font-family:sans-serif;">
            <img src="~/Images/AmbulanceLogo.png" alt="Ambulance" style="width:100px; height:100px"/>
            <br/>
            @ViewBag.ServiceName
        </div>
    </div>
    <br />
    <form id="booking">
        <input type="hidden" id="serviceName" value="@ViewBag.ServiceName" />

        <div class="d-flex justify-content-center">
            <div class="card" style="width:700px">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <label for="name" class="form-label"><b>Full Name*</b></label>
                            <input type="text" class="form-control" id="clientname" name="name" placeholder="John Carter" pattern="^[A-Za-z\s]+$" required />
                        </div>
                        <div class="col">
                            <label for="phone" class="form-label"><b>Phone*</b></label>
                            <input type="text" class="form-control" id="clientphone" name="phone" placeholder="+27 00 000 0000" attern="^\+?\d[\d\s]*$" required />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <label for="time" class="form-label"><b>Pick-Up Time*</b></label>
                            <input type="time" class="form-control" id="time" name="time" required />
                        </div>
                        <div class="col">
                            <label for="reason" class="form-label"><b>Reason*</b></label>
                            <select class="form-control" id="reason" required>
                                <option value="Accident">Accident</option>
                                <option value="Transport">Transport</option>
                                <option value="Medical Emergency">Medical Emergency</option>
                                <option value="Routine Checkup">Routine Checkup</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <label for="vehicle" class="form-label"><b>Vehicle*</b></label>
                            <select id="vehicleDropdown" name="vehicle" class="form-select" required>
                                <option value="">Select vehicle</option>
                                @foreach (var v in (IEnumerable<Assignment1.Models.Vehicle>)ViewBag.Vehicles)
                                {
                                    if (v.Service == (string)ViewBag.ServiceName)
                                    {
                                        <option value="@v.Type">@v.Type</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col">
                            <label for="driver" class="form-label"><b>Driver*</b></label>
                            <select id="driverDropdown" name="driver" class="form-select" required>
                                <option value="">Select driver</option>
                                @foreach (var d in (IEnumerable<Assignment1.Models.Driver>)ViewBag.Drivers)
                                {
                                    if (d.Service == (string)ViewBag.ServiceName)
                                    {
                                        <option value="@d.FirstName @d.LastName">@d.FirstName @d.LastName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class=" col ">
                            <label for="address" class="form-label"><b>Pick_Up Address</b></label>
                        </div>
                    </div>
                    <div class="row">
                        <input type="text" class="form-control" id="address" name="address" placeholder="Please type your address here..." />
                    </div>
                    <br />
                    <div class="row">
                        <input type="submit" name="book" class="text-decoration-none text-white" style="border-radius: 50px; background-color: #555555; padding: 14px 40px;" value="BOOK AMBULANCE" />
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </form>

    <script>
        function generateUUID() {
            // RFC4122 version 4 compliant UUID
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('booking');
            if (!form) return;


            form.addEventListener('submit', function (e) {
                e.preventDefault();


                
                var serviceName = document.getElementById('serviceName').value;

                // Collect values
                var bookingData = {
                    bookingId: generateUUID(),
                    service: serviceName,
                    name: document.getElementById('clientname').value,
                    phone: document.getElementById('clientphone').value,
                    time: document.getElementById('time').value,
                    reason: document.getElementById('reason').value,
                    vehicle: document.getElementById('vehicleDropdown').value,
                    driver: document.getElementById('driverDropdown').value,
                    address: document.getElementById('address').value,
                    bookingDate: new Date().toISOString(),
                    sos: false
                };


                // Save to localStorage (as an array of bookings)
                var bookings = JSON.parse(localStorage.getItem('bookings') || '[]');
                bookings.push(bookingData);
                localStorage.setItem('bookings', JSON.stringify(bookings));
                localStorage.setItem('selectedBookingId', bookingData.bookingId);


                // Redirect to Confirmed view
                window.location.href = '/Home/Confirmed';
            });
        });

    </script>

</div>

